body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    background: #333;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
}
.logo{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.menu a {
    text-decoration: none;
    color: white;
}
.menu a:hover{
    text-decoration: underline;
}
.menu{
    display: flex;
    gap: 20px;
    flex-direction: row;
}

@media (max-width: 768px){
    .navbar{
        flex-direction: column;

    }
    .menu{
        margin-top: 20px;
        flex-direction: column;
    }
    .menu a{
        border-bottom: 1px solid white;
    }
}
@media (max-width: 1024px){
    body{
        background-color: pink  ;
    }
}

@media (max-width: 768px){
    body{
        background-color: blue  ;
    }
}


@media (max-width: 475px){
    body{
        background-color: green  ;
    }
}